@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PTRootUI';
  src: url('/fonts/PTRootUI/PTRootUI-Regular.woff2') format('woff2'),
    url('/fonts/PTRootUI/PTRootUI-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTRootUI';
  src: url('/fonts/PTRootUI/PTRootUI-Bold.woff2') format('woff2'),
    url('/fonts/PTRootUI/PTRootUI-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
