@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PTRootUI';
  src: url('/assets/fonts/PTRootUI/PTRootUI-Regular.woff2') format('woff2'),
    url('/assets/fonts/PTRootUI/PTRootUI-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTRootUI';
  src: url('/assets/fonts/PTRootUI/PTRootUI-Bold.woff2') format('woff2'),
    url('/assets/fonts/PTRootUI/PTRootUI-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --scrim-filter: saturate(200%) blur(20px);
  --header-height: theme('spacing.16');
  --top-position: calc(var(--header-height) + theme('spacing.8'));
}

body {
  -webkit-tap-highlight-color: transparent;
}

.prose {
  & a {
    @apply text-primary-500;
    &:hover {
      @apply underline;
    }
  }
  & .item-website li a,
  & .item-website p a {
    @apply text-blue-500;
  }
  & .item-analyzer li a,
  & .item-analyzer p a {
    @apply text-orange-500;
  }
  & h2, h3 {
    a {
      @apply pointer-events-none text-grey-900;
    }
  }
  & h2 {
    @apply mt-6 mb-4 text-five leading-five font-display-weight;
  }
  & h3 {
    @apply mt-6 mb-4 text-six leading-six font-display-weight;
  }
  & p {
    @apply mb-4;
  }
  & ul {
    @apply mb-4 list-disc list-inside;

    & > li {
      @apply mb-1;
    }
  }
  & img {
    @apply mb-4;
  }
  & code {
    @apply px-1 py-1 text-sm bg-white bg-opacity-50 rounded-lg;
  }
}

.safari-radii-hack {
  isolation: isolate;
}