@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PTRootUI';
  src: url('/assets/fonts/PTRootUI/PTRootUI-Regular.woff2') format('woff2'),
    url('/assets/fonts/PTRootUI/PTRootUI-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTRootUI';
  src: url('/assets/fonts/PTRootUI/PTRootUI-Bold.woff2') format('woff2'),
    url('/assets/fonts/PTRootUI/PTRootUI-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --scrim-filter: saturate(200%) blur(20px);
  --header-height: theme('spacing.16');
  --top-position: calc(var(--header-height) + theme('spacing.8'));
}

.prose {
  & a {
    @apply text-primary-500;
    &:hover {
      @apply underline;
    }
  }
  & h2 {
    @apply text-five leading-five mb-4 mt-8 font-display-weight;
    a {
      @apply text-grey-900 pointer-events-none;
    }
  }
  & p {
    @apply mb-4;
  }
  & ul {
    @apply list-disc list-inside mb-4;

    & > li {
      @apply mb-2;
    }
  }
  & img {
    @apply mb-4;
  }
}